.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 15%;
    background-color: #001D42;
    color: aliceblue;
}