@import "tailwindcss";


html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  :root {
    --light-black: #121212;
    --electric-blue: #1E90FF;
    --royal-blue: #0056D2;
    --sp-black: #242424;
  }

  
  /* Use them with Tailwind's @layer */
@layer utilities {
  .bg-light-black {
    background-color: var(--light-black);
  }

  .bg-sp-black{
    background-color: var(--sp-black);

  }

  .text-light-black {
    color: var(--light-black);
  }

  .bg-electric-blue {
    background-color: var(--electric-blue);
  }
  .text-electric-blue {
    color: var(--electric-blue);
  }
}